.inlineCard {
  margin: 5px 0;
}

.inlineCard:first-child {
  margin: 0;
}

.inlineCard:last-child {
  margin-bottom: 40px;
}

.inlineCard__header,
.inlineCard__content  {
  display: flex;
  justify-content: space-between;
}

.inlineCard__content {
  padding: 10px 20px;
}

.inlineCard__content .tags {
  border-radius: 5px;
  border: 1px solid;
  padding: 5px;
}

.inlineCard__content .tags:nth-child(2) {
  margin-left: 5px;
}
