
.filters {
  top: 0;
  position: sticky;
  border-radius: 5px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
}

.filters .filter {
  padding: 5px;
}

.filters__trigger {
  display: none;
}

.filters__content {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .filters__trigger {
    display: block;
  }

  .filters__content {
    display: none;
  }

  .filters__content.active {
    display: block;
  }
}
