.classDeck {
  display: grid;
  grid-template: "availableCards . choosedCards";
  grid-template-columns: min(500px) 10px min(500px);
}

.classDeck__availableCards {
  grid-area: availableCards
}

.classDeck__choosedCards {
  grid-area: choosedCards
}
