.mainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow-y: scroll;
  font-family: 'Pirata One', cursive;
}

.mainPage__header {
  background-color: #fff;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

.mainPage__content {
  width: 100%;
}
