.cardActions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardActions button {
  width: 25px;
  height: 25px;
  padding: 0;
}

.cardActions.big button {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 2em;
}

